.action__Download {
            width: 290px;
            height: 45px;
            font-size: 18px;
            /*left: 0px;
            top: 0px;*/
            background: #8D81AC;
            border-radius: 40px;
            border: 0px;
            /*padding: 14px 28px;*/
        }

         .download__git__statistic {
                    text-align: center;
                }

                .github__Buttons {
                    text-align: center;
                }

                .github__Pictures {
                    margin-top: 20px;
                }
.slogan__26px {
            font-size: 26px;
            font-weight: 700;
            color: #635C73;
            text-transform: uppercase;
            margin-top: 48px;
        }
